# Main apps
edge
supernode
edge.exe
supernode.exe

# Examples
example_edge_embed_quick_edge_init
example_edge_embed
example_sn_embed
example_edge_embed_quick_edge_init.exe
example_edge_embed.exe
example_sn_embed.exe
