
# Tools
n3n-benchmark
n3n-decode
n3n-portfwd
n3n-route
n3n-benchmark.exe
n3n-decode.exe
n3n-portfwd.exe
n3n-route.exe

# Binaries built to run tests
tests-auth
tests-compress
tests-elliptic
tests-transform
tests-wire
tests-auth.exe
tests-compress.exe
tests-elliptic.exe
tests-transform.exe
tests-wire.exe
